*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatainer{
    border: 5px solid rgb(212, 32, 188);
}
/*---nav flex container----*/
.navbar{
    display: flex;
    border-bottom: 1px solid rgb(63, 185, 52);

}
/*---nav bar items----*/
.logo{
    display: flex;
    width: 35%;
    justify-content: center;
}
.logo img{
   align-items: center;
}
.navMenu{
    display: flex;
    width: 65%;
}
/*---nav UL----*/
.navUL{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.navUL li{
    display: inline;
    padding: 5px;
}
.navUL li a{
    text-decoration: none;
}

/*----section---*/
.section{
    display: flex;
    background: rgb(204, 48, 165);
   
}
.sliderDiv{
    width: 100%;
    height:60vh;
    background: #ffffff url(/img/layout_1_004.jpg) no-repeat center center / cover;
   
}
/*-----content div-----*/

.realcontent{
    margin: 35px;
    border:5px solid blue ;
   
    
}

/* ---text content--- */

.textContent{
    display: flex;
    border:1px solid red ;
   
}
.column{
    width: 33.33%;
    height: 170px;
}
.c1{
    border: 5px solid rgb(156, 14, 14);
    background:rgb(230, 236, 230) ;
    box-shadow: 5px 5px 5px rgba(82, 72, 230, 0.767);
}
.c2{
    border: 5px solid rgb(156, 14, 14);
    background:rgb(230, 236, 230) ;
    box-shadow: 5px 5px 5px rgba(19, 5, 5, 0.1);
}
.c3{
    border: 5px solid rgb(156, 14, 14);
    background:rgb(230, 236, 230) ;
    box-shadow: 5px 5px 5px rgba(19, 5, 5, 0.1);
}
.colheading{
    text-align: center;
}
.colheading p{
    text-align: center;
}
/* ----image content 1 ---- */
.imageContent1{
    display: flex;
    border:5px solid goldenrod ;
}
.image1{
    width: 33.333%;
    
}

.houseImg1{
    height: 250px;
    margin: 1px solid wheat;
    background: url(/img/content/4.jpg) no-repeat center center / cover;
}
.houseImg2{
    height: 250px;
    border: 1px solid wheat;
    background: url(/img/content/3.jpg) no-repeat center center / cover;
}
.houseImg3{
    height: 250px;
    border: 1px solid wheat;
    background: url(/img/content/2.jpg) no-repeat center center / cover;
}
.houseImg4{
    height: 250px;
    border: 1px solid wheat;
    background: url(/img/content/1.jpg) no-repeat center center / cover;
}

/* ----image content 2 ---- */
.imageContent2{
    display: flex;
    border:5px solid rgb(32, 218, 94) ;
}
.image2{
   width: 33.333%;
   
}

.houseImg5{
    height: 250px;
    border: 1px solid wheat;
    background: url(/img/content/2.jpg) no-repeat center center / cover;
}
.houseImg6{
    height: 250px;
    border: 1px solid wheat;
    background: url(/img/content/1.jpg) no-repeat center center / cover;
}
.houseImg7{
    height: 250px;
    border: 1px solid wheat;
    background: url(/img/content/4.jpg) no-repeat center center / cover;
}
.houseImg8{
    height: 250px;
    border: 1px solid wheat;
    background: url(/img/content/06.jpg) no-repeat center center / cover;
    
}

/* -----feed back div---- */
.feedback{
    border:1px solid red ;
   
}
.feedbackSlider{
    height: 200px;
    background: url(/img/feedbackSlider00.jpg) no-repeat center center / cover;
}

/* -----why choose us---- */
.homePageDescription{
    display: flex;
}
.whoWeare{
    display: flex;
    border:2px solid grey ;
}
.ourimg{
    border:2px solid goldenrod ;
    width: 50%;
    height: 50%;
    background: url(/img/About\ us.jpg) no-repeat center center / cover;
}
.whyChooseUs{
    display: flex;
    border:2px solid grey ;
}
.chooseImg{
    border:2px solid goldenrod ;
    width: 50%;
    height: 50%;
    background: url(/img/whychooseus.jpg) no-repeat center center / cover ;
}