html {
    
    box-sizing: border-box;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: sans-serif;
    margin: 0;
   
}
  
a {
    color:rgb(20, 53, 30);
    font-weight: bold;
  }


.conatainer{
    
    background: #ffff;
}
/*---nav flex container----*/
.navbar{
    display: flex;
    border-bottom: 1px solid rgb(63, 185, 52);

}
/*---nav bar items----*/
.logo{
    display: flex;
    width: 35%;
    justify-content: center;
}
.logo img{
   align-items: center;
}
.navMenu{
    display: flex;
    width: 65%;
}
/*---nav UL----*/
.navUL{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.navUL li:hover{
   background: chartreuse;
}
.navUL li{
    display: inline;
    padding: 5px;
}
.navUL li a{
    text-decoration: none;
}


/*----section---*/
.section{
    display: flex;
    background: rgb(204, 48, 165);
    justify-content: center;
    align-items: center;
   
   
}
.sliderDiv{
    position: relative; 
    width: 100%;
    height:75vh;
    background: #ffffff url(/img/layout\ 02\ \(01\).jpg) no-repeat center center / cover;
   
}
/* ----search---- */
.cover{
    position: absolute;
    background: #fff;
    width: 40%;
   
    
}
.flex-form{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}
.flex-form input[type=text]{
    padding: 15px;
    
}
.flex-form input[type=button]{
    padding: 15px;
    width: 100px;
    background: rgb(153, 151, 233);
    color:rgb(22, 6, 6) ;
    font-weight: bold;
   
}
.flex-form input[type=submit]{
    padding: 15px;
    font-weight: bold;
    
    
}
/*-----content div-----*/

.realcontent{
    margin: 35px;
}

/* ---text content--- */

.textContent{
    display: flex;
   
   
}
.column{
    width: 30%;
    height: 180px;
    padding:15px;
    margin:25px;
    justify-content: center;
    align-items: center;
    
}
.c1{
    height: auto;
    background: #fff ;
    box-shadow: 5px 5px 5px 5px rgba(145, 140, 221, 0.767);
}
.c2{
    height: auto;
    background:#fff;
    box-shadow: 5px 5px 5px 5px rgba(145, 140, 221, 0.767);
}
.c3{
    height: auto;
    background:#fff ;
    box-shadow: 5px 5px 5px 5px rgba(145, 140, 221, 0.767);
}
.colheading{
    text-align: center;
}
.c1 p,
.c2 p,
.c3 p{
    text-align: center;
   
}
/* ----image content 1 ---- */
.imageContent1{
    display: flex;
    
}
.image1{
    width: 25%;
    margin: 20px 10px;
  
}

.houseImg1{
    height: 250px;
    box-shadow: 5px 5px 5px rgb(115, 131, 219);
    border-radius: 3px;
    background: url(/img/content/4.jpg) no-repeat center center / cover;
}
.houseImg2{
    height: 250px;
    box-shadow: 5px 5px 5px rgb(115, 131, 219);
    border-radius: 3px;
    background: url(/img/content/3.jpg) no-repeat center center / cover;
}
.houseImg3{
    
    height: 250px;
    box-shadow: 5px 5px 5px rgb(115, 131, 219);
    border-radius: 3px;
    background: url(/img/content/2.jpg) no-repeat center center / cover;
}
.houseImg4{
    height: 250px;
    box-shadow: 5px 5px 5px rgb(115, 131, 219);
    border-radius: 3px;
    background: url(/img/content/1.jpg) no-repeat center center / cover;
}

/* ----image content 2 ---- */
.imageContent2{
    display: flex;
    
}
.image2{
  width: 25%;
  margin:20px  10px;
  
  
}
.houseImg5{
    height: 250px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgb(115, 131, 219);
    background: url(/img/content/2.jpg) no-repeat center center / cover;
}
.houseImg6{
    height: 250px;
    box-shadow: 5px 5px 5px rgb(115, 131, 219);
    border-radius: 3px;
    background: url(/img/content/1.jpg) no-repeat center center / cover;
}
.houseImg7{
    height: 250px;
    box-shadow: 5px 5px 5px rgb(115, 131, 219);
    border-radius: 3px;
    background: url(/img/content/4.jpg) no-repeat center center / cover;
}
.houseImg8{
    height: 250px;
    box-shadow: 5px 5px 5px rgb(115, 131, 219);
    border-radius: 3px;
    background: url(/img/content/06.jpg) no-repeat center center / cover;
    
}
.houseImg1:hover,
.houseImg2:hover,
.houseImg3:hover,
.houseImg4:hover,
.houseImg5:hover,
.houseImg6:hover,
.houseImg7:hover,
.houseImg8:hover {
    opacity: .7;

}


/* -----testimonial---- */
.testimonial{
    display: flex;
    opacity: .9;
    z-index: 10;
    background-image: linear-gradient(260deg, #63a6d3 0%, #e0bfe6 100%);

    
}
.testimonial1,
.testimonial2,
.testimonial3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.testimonial1 p,
.testimonial2 p,
.testimonial3 p {
    text-align: center;
    font-style: italic;
    padding: 5px;
    text-shadow: .1px .1px .1px #597956;
    font-size: 16px;
}
.test1{
    border-radius: 50%;
    
}

/* -----why choose us---- */
.homePageDescription{
    display: flex;
    
}
.whoWeare{
    display: flex;
    
}
.ourimg{
 
    width: 100%;
    height: 100%;
    background: url(/img/About\ us.jpg) no-repeat center center / cover;
}
.whyChooseUs{
    display: flex;
   
}
.chooseImg{
    
    width: 100%;
    height: 100%;
    background: url(/img/whychooseus.jpg) no-repeat center center / cover ;
}
/* ----Footer---- */
.footer{
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: black;
      
    color: blanchedalmond;

   
}
.footer a{
    color: #fff;
}
.socialMedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}
.socialMedia ul li{
    flex-direction: row;
}
.socialMedia li{
    list-style: none;
}
.newsLetter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
   
    justify-content: flex-end;
}
.usefulLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
   
}
.usefulLink li {
    list-style-type: none;
    line-height: 22px;
}
.usefulLink a{
    text-decoration: none;
    
}
.latestNews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.33%;
   
}
ion-icon {
    font-size: 27px;
  }